
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetPassword</h1>

<form asp-action="Resetpassword" asp-controller="Home"  method="post">
    <input type="hidden"  name="Id" value="@Model"/>
    <input type="password" name="password" required />
    <button type="submit"> Reset password</button>
</form>

